@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --purple: #5F4FCC;
}
* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
}
#inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
#word-input {
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--purple);
  box-shadow: 0 4px 5px 0 #C8C1E3;
  grid-column: 1/4;
}
#search-btn {
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  color: #FFFFFF;
  outline: none;
  background-color: var(--purple);
  border-radius: 10px;
  border: 1px solid #363636;
  box-shadow: 0 5px 5px 0 #C8C1E3;
}
#search-btn:active {
  background-color: #4E34A1;
}
#result-div {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--purple);
  box-shadow: 0 4px 5px 0 #C8C1E3;
}
h3 {
  width: fit-content;
  margin: 0 0 10px 0;
  border-bottom: 2px solid black;
}
h3:not(:first-of-type) {
  margin-top: 30px;
}
@media (min-width: 900px) {
  body {
    padding: 150px;
  }
}
